body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 2rem;
  text-align: center;
  margin: 30px auto;
  font-weight: bolder;
  text-decoration: underline;
}

.wrapper {
  width: 90%;
  margin: auto;
  padding-top: 50px;
}

.userNameWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.userNameWrapper > div {
  border: 5px solid black;
  margin: 5px 0;
}

.userName {
  width: 80%;
}

.userNameAnchor,
.userNameWrapper .userName {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}

.bio,
.post {
  border: 5px solid black;
  margin: 5px 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.bio > *,
.post > * {
  margin: 0 10px;
  margin-bottom: 15px;
}

.count {
  align-self: flex-end;
}

ul {
  padding: 0;
  list-style-type: none;
}

button {
  width: 150px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 5px 5px black;
  border: 2px solid black;
  margin: 10px 0;
  padding: 5px 0;
}

h6 {
  font-size: 15px;
}

.button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button a {
  padding: 5px 10px;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px black;
}

.button a:visited {
  color: black;
}

.postHeader {
  display: flex;
  justify-content: space-between;
}

.comments {
  border: 5px solid black;
  margin-bottom: 15px;
}

.comments ul {
  margin: 0 10px;
}

.userNameAnchor > h6 {
  align-self: flex-end;
}

.userNameWrapper > div h2,
.userNameWrapper > div h6 {
  margin: 0 10px;
}
